<ion-header mode="ios" [translucent]="true">
  <ion-toolbar>
    <ion-title>Top conciertos</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="top-concerts">
    @for (concert of concerts; track $index) {
    <ion-card>
      <div class="top-concert-item navigate" (click)="navigateTo(concert)">
        <ion-icon name="pin-outline"></ion-icon>
        <span> <b>{{concert.localidad}}</b></span>
      </div>
      <div class="top-concert-item">
        <ion-icon name="calendar-outline"></ion-icon>
        <span> {{formatDate(concert.fecha)}}</span>
      </div>
      <div class="top-concert-item">
        <ion-icon name="ticket-outline"></ion-icon>
        <span>Entradas vendidas: {{concert.entradas_vendidas}} </span>
      </div>

      <div class="top-concert-item">
        <ion-icon name="person-outline"></ion-icon>
        <span>Aforo: {{concert.aforo}}</span>
      </div>

      <div class="top-concert-item">
        <ion-icon name="people-outline"></ion-icon>
        <span>Ocupación: {{concert['ocupacion_%']}}%</span>
      </div>
    </ion-card>
    }
  </div>
</ion-content>
