.top-concerts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;

  ion-card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: medium;
  }
}

.top-concert-item {
  display: flex;
  gap: 10px;
}

.navigate {
  transition: 0.2s ease-in-out;
  &:hover {
    cursor: pointer;
    color: #5eac22;
  }
}
