<div style="overflow: auto">
  <table>
    <tr class="header-table">
      <th class="border-full"></th>
      <th class="border-full" colspan="3">Bolos a caché</th>
      <th class="border-full" colspan="3">Bolos propios</th>
      <th class="border-full" colspan="3">Bolos promo/presen</th>
      <th class="border-full" colspan="3">Total</th>
    </tr>

    <tr>
      <td class="border-full">Nº de Bolos</td>
      <td class="border-full" colspan="3">
        {{ data.resumen.conciertos_por_tipo["A Caché"] }}
      </td>
      <td class="border-full" colspan="3">
        {{ data.resumen.conciertos_por_tipo["A Empresa"] }}
      </td>
      <td class="border-full" colspan="3">
        {{ data.resumen.conciertos_por_tipo["Promo/presen"] }}
      </td>
      <td class="border-full" colspan="3">
        {{ data.resumen.total_conciertos }}
      </td>
    </tr>

    <tr class="header-table">
      <td class="border-full">Gastos</td>
      <td class="border-left">€</td>
      <td>%</td>
      <td class="border-right">€/unidad</td>
      <td class="border-left">€</td>
      <td>%</td>
      <td class="border-right">€/unidad</td>
      <td class="border-left">€</td>
      <td>%</td>
      <td class="border-right">€/unidad</td>
      <td class="border-left">€</td>
      <td>%</td>
      <td class="border-right">€/unidad</td>
    </tr>

    <tr
      *ngFor="
        let item of data.resumen_economico_global.gastos_por_familia | keyvalue
      "
    >
      <td class="border-full">{{ item.key }}</td>
      <td class="border-left">
        {{
          formatPrice(
            data.resumen_economico_por_tipo["A Caché"].gastos_por_familia[
              "" + item.key
            ]
          )
        }}
      </td>
      <td>
        {{
          formatPercentage(
            data.resumen_economico_por_tipo["A Caché"]["gastos_por_familia_%"][
              "" + item.key
            ]
          )
        }}
      </td>
      <td class="border-right">
        {{
          formatPrice(
            data.resumen_economico_por_tipo["A Caché"]
              .gastos_por_familia_unidad["" + item.key]
          )
        }}
      </td>
      <td class="border-left">
        {{
          formatPrice(
            data.resumen_economico_por_tipo["A Empresa"].gastos_por_familia[
              "" + item.key
            ]
          )
        }}
      </td>
      <td>
        {{
          formatPercentage(
            data.resumen_economico_por_tipo["A Empresa"][
              "gastos_por_familia_%"
            ]["" + item.key]
          )
        }}
      </td>
      <td class="border-right">
        {{
          formatPrice(
            data.resumen_economico_por_tipo["A Empresa"]
              .gastos_por_familia_unidad["" + item.key]
          )
        }}
      </td>
      <td class="border-left"></td>
      <td></td>
      <td class="border-right"></td>
      <td class="border-left">{{ formatPrice(item.value) }}</td>
      <td>
        {{
          formatPercentage(
            data.resumen_economico_global["gastos_por_familia_%"]["" + item.key]
          )
        }}
      </td>
      <td class="border-right">
        {{
          formatPrice(
            data.resumen_economico_global.gastos_por_familia_unidad[
              "" + item.key
            ]
          )
        }}
      </td>
    </tr>

    <tr class="header-table">
      <td class="border-full">Ingresos entradas</td>
      <td class="border-left">€</td>
      <td>%</td>
      <td class="border-right">€/unidad</td>
      <td class="border-left">€</td>
      <td>%</td>
      <td class="border-right">€/unidad</td>
      <td class="border-left">€</td>
      <td>%</td>
      <td class="border-right">€/unidad</td>
      <td class="border-left">€</td>
      <td>%</td>
      <td class="border-right">€/unidad</td>
    </tr>

    <tr
      *ngFor="
        let item of data.resumen_economico_global.ingresos_entradas_por_familia
          | keyvalue
      "
    >
      <td class="border-full">{{ item.key }}</td>
      <td class="border-left">
        {{
          formatPrice(
            data.resumen_economico_por_tipo["A Caché"]
              ?.ingresos_entradas_por_familia["" + item.key]
          )
        }}
      </td>
      <td>
        {{
          formatPercentage(
            data.resumen_economico_por_tipo["A Caché"][
              "ingresos_entradas_por_familia_%"
            ]["" + item.key]
          )
        }}
      </td>
      <td class="border-right">
        {{
          formatPrice(
            data.resumen_economico_por_tipo["A Caché"]
              ?.ingresos_entradas_por_familia_unidad["" + item.key]
          )
        }}
      </td>
      <td class="border-left">
        {{
          formatPrice(
            data.resumen_economico_por_tipo["A Empresa"]
              ?.ingresos_entradas_por_familia["" + item.key]
          )
        }}
      </td>
      <td>
        {{
          formatPercentage(
            data.resumen_economico_por_tipo["A Empresa"][
              "ingresos_entradas_por_familia_%"
            ]["" + item.key]
          )
        }}
      </td>
      <td class="border-right">
        {{
          formatPrice(
            data.resumen_economico_por_tipo["A Empresa"]
              .ingresos_entradas_por_familia_unidad["" + item.key]
          )
        }}
      </td>
      <td class="border-left"></td>
      <td></td>
      <td class="border-right"></td>
      <td class="border-left">{{ formatPrice(item.value) }}</td>
      <td>
        {{
          formatPercentage(
            data.resumen_economico_global["ingresos_entradas_por_familia_%"][
              "" + item.key
            ]
          )
        }}
      </td>
      <td class="border-right">
        {{
          formatPrice(
            data.resumen_economico_global.ingresos_entradas_por_familia_unidad[
              "" + item.key
            ]
          )
        }}
      </td>
    </tr>

    <tr class="header-table">
      <td class="border-full">Otros ingresos</td>
      <td class="border-left">€</td>
      <td>%</td>
      <td class="border-right">€/unidad</td>
      <td class="border-left">€</td>
      <td>%</td>
      <td class="border-right">€/unidad</td>
      <td class="border-left">€</td>
      <td>%</td>
      <td class="border-right">€/unidad</td>
      <td class="border-left">€</td>
      <td>%</td>
      <td class="border-right">€/unidad</td>
    </tr>

    <tr
      *ngFor="
        let item of data.resumen_economico_global.otros_ingresos_por_familia
          | keyvalue
      "
    >
      <td class="border-full border-bottom">{{ item.key }}</td>
      <td class="border-left border-bottom">
        {{
          formatPrice(
            data.resumen_economico_por_tipo["A Caché"]
              ?.otros_ingresos_por_familia["" + item.key]
          )
        }}
      </td>
      <td class="border-bottom">
        {{
          formatPercentage(
            data.resumen_economico_por_tipo["A Caché"][
              "otros_ingresos_por_familia_%"
            ]["" + item.key]
          )
        }}
      </td>
      <td class="border-right border-bottom">
        {{
          formatPrice(
            data.resumen_economico_por_tipo["A Caché"]
              ?.otros_ingresos_por_familia_unidad["" + item.key]
          )
        }}
      </td>
      <td class="border-left border-bottom">
        {{
          formatPrice(
            data.resumen_economico_por_tipo["A Empresa"]
              ?.otros_ingresos_por_familia["" + item.key]
          )
        }}
      </td>
      <td class="border-bottom">
        {{
          formatPercentage(
            data.resumen_economico_por_tipo["A Empresa"][
              "otros_ingresos_por_familia_%"
            ]["" + item.key]
          )
        }}
      </td>
      <td class="border-right border-bottom">
        {{
          formatPrice(
            data.resumen_economico_por_tipo["A Empresa"]
              .otros_ingresos_por_familia_unidad["" + item.key]
          )
        }}
      </td>
      <td class="border-left border-bottom"></td>
      <td class="border-bottom"></td>
      <td class="border-right border-bottom"></td>
      <td class="border-left border-bottom">{{ formatPrice(item.value) }}</td>
      <td class="border-bottom">
        {{
          formatPercentage(
            data.resumen_economico_global["otros_ingresos_por_familia_%"][
              "" + item.key
            ]
          )
        }}
      </td>
      <td class="border-bottom border-right">
        {{
          formatPrice(
            data.resumen_economico_global.otros_ingresos_por_familia_unidad[
              "" + item.key
            ]
          )
        }}
      </td>
    </tr>
  </table>
</div>
