<div style="overflow: auto">
  <table>
    <tr class="header-table">
      <th></th>
      <th colspan="3">Bolos a caché</th>
      <th></th>
      <th colspan="3">Bolos propios</th>
      <th></th>
      <th colspan="3">Bolos promo/presen</th>
      <th></th>
      <th colspan="3">Total</th>
    </tr>

    <tr>
      <td>Nº de Bolos</td>
      <td colspan="3">{{ data.resumen.conciertos_por_tipo["A Caché"] }}</td>
      <td></td>
      <td colspan="3">{{ data.resumen.conciertos_por_tipo["A Empresa"] }}</td>
      <td></td>
      <td colspan="3">
        {{ data.resumen.conciertos_por_tipo["Promo/presen"] }}
      </td>
      <td></td>
      <td colspan="3">{{ data.resumen.total_conciertos }}</td>
    </tr>

    <tr class="header-table">
      <td>Gastos</td>
      <td>€</td>
      <td>%</td>
      <td>€/unidad</td>
      <td></td>
      <td>€</td>
      <td>%</td>
      <td>€/unidad</td>
      <td></td>
      <td>€</td>
      <td>%</td>
      <td>€/unidad</td>
      <td></td>
      <td>€</td>
      <td>%</td>
      <td>€/unidad</td>
    </tr>

    <tr
      *ngFor="
        let item of data.resumen_economico_global.gastos_por_familia | keyvalue
      "
    >
      <td>{{ item.key }}</td>
      <td>
        {{
          data.resumen_economico_por_tipo["A Caché"].gastos_por_familia[
            "" + item.key
          ]
        }}
      </td>
      <td>
        {{
          data.resumen_economico_por_tipo["A Caché"]["gastos_por_familia_%"][
            "" + item.key
          ]
        }}
      </td>
      <td>
        {{
          data.resumen_economico_por_tipo["A Caché"].gastos_por_familia_unidad[
            "" + item.key
          ]
        }}
      </td>
      <td></td>
      <td>
        {{
          data.resumen_economico_por_tipo["A Empresa"].gastos_por_familia[
            "" + item.key
          ]
        }}
      </td>
      <td>
        {{
          data.resumen_economico_por_tipo["A Empresa"]["gastos_por_familia_%"][
            "" + item.key
          ]
        }}
      </td>
      <td>
        {{
          data.resumen_economico_por_tipo["A Empresa"]
            .gastos_por_familia_unidad["" + item.key]
        }}
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{ item.value }}</td>
      <td>
        {{
          data.resumen_economico_global["gastos_por_familia_%"]["" + item.key]
        }}
      </td>
      <td>
        {{
          data.resumen_economico_global.gastos_por_familia_unidad["" + item.key]
        }}
      </td>
    </tr>

    <tr class="header-table">
      <td>Ingresos entradas</td>
      <td>€</td>
      <td>%</td>
      <td>€/unidad</td>
      <td></td>
      <td>€</td>
      <td>%</td>
      <td>€/unidad</td>
      <td></td>
      <td>€</td>
      <td>%</td>
      <td>€/unidad</td>
      <td></td>
      <td>€</td>
      <td>%</td>
      <td>€/unidad</td>
    </tr>

    <tr
      *ngFor="
        let item of data.resumen_economico_global.ingresos_entradas_por_familia
          | keyvalue
      "
    >
      <td>{{ item.key }}</td>
      <td>
        {{
          data.resumen_economico_por_tipo["A Caché"]
            ?.ingresos_entradas_por_familia["" + item.key]
        }}
      </td>
      <td>
        {{
          data.resumen_economico_por_tipo["A Caché"][
            "ingresos_entradas_por_familia_%"
          ]["" + item.key]
        }}
      </td>
      <td>
        {{
          data.resumen_economico_por_tipo["A Caché"]
            ?.ingresos_entradas_por_familia_unidad["" + item.key]
        }}
      </td>
      <td></td>
      <td>
        {{
          data.resumen_economico_por_tipo["A Empresa"]
            ?.ingresos_entradas_por_familia["" + item.key]
        }}
      </td>
      <td>
        {{
          data.resumen_economico_por_tipo["A Empresa"][
            "ingresos_entradas_por_familia_%"
          ]["" + item.key]
        }}
      </td>
      <td>
        {{
          data.resumen_economico_por_tipo["A Empresa"]
            .ingresos_entradas_por_familia_unidad["" + item.key]
        }}
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{ item.value }}</td>
      <td>
        {{
          data.resumen_economico_global["ingresos_entradas_por_familia_%"][
            "" + item.key
          ]
        }}
      </td>
      <td>
        {{
          data.resumen_economico_global.ingresos_entradas_por_familia_unidad[
            "" + item.key
          ]
        }}
      </td>
    </tr>

    <tr class="header-table">
      <td>Otros ingresos</td>
      <td>€</td>
      <td>%</td>
      <td>€/unidad</td>
      <td></td>
      <td>€</td>
      <td>%</td>
      <td>€/unidad</td>
      <td></td>
      <td>€</td>
      <td>%</td>
      <td>€/unidad</td>
      <td></td>
      <td>€</td>
      <td>%</td>
      <td>€/unidad</td>
    </tr>

    <tr
      *ngFor="
        let item of data.resumen_economico_global.otros_ingresos_por_familia
          | keyvalue
      "
    >
      <td>{{ item.key }}</td>
      <td>
        {{
          data.resumen_economico_por_tipo["A Caché"]
            ?.otros_ingresos_por_familia["" + item.key]
        }}
      </td>
      <td>
        {{
          data.resumen_economico_por_tipo["A Caché"][
            "otros_ingresos_por_familia_%"
          ]["" + item.key]
        }}
      </td>
      <td>
        {{
          data.resumen_economico_por_tipo["A Caché"]
            ?.otros_ingresos_por_familia_unidad["" + item.key]
        }}
      </td>
      <td></td>
      <td>
        {{
          data.resumen_economico_por_tipo["A Empresa"]
            ?.otros_ingresos_por_familia["" + item.key]
        }}
      </td>
      <td>
        {{
          data.resumen_economico_por_tipo["A Empresa"][
            "otros_ingresos_por_familia_%"
          ]["" + item.key]
        }}
      </td>
      <td>
        {{
          data.resumen_economico_por_tipo["A Empresa"]
            .otros_ingresos_por_familia_unidad["" + item.key]
        }}
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{ item.value }}</td>
      <td>
        {{
          data.resumen_economico_global["otros_ingresos_por_familia_%"][
            "" + item.key
          ]
        }}
      </td>
      <td>
        {{
          data.resumen_economico_global.otros_ingresos_por_familia_unidad[
            "" + item.key
          ]
        }}
      </td>
    </tr>
  </table>
</div>
