th,
td {
  text-align: center;
  font-size: small;
  min-width: 5px;
  padding: 10px 5px;
}

th {
  border-top: 2px solid rgba(105, 105, 105, 0.76);
}

.border-full {
  border-right: 2px solid rgba(105, 105, 105, 0.76);
  border-left: 2px solid rgba(105, 105, 105, 0.76);
}

.border-right {
  border-right: 2px solid rgba(105, 105, 105, 0.76);
}

.border-left {
  border-left: 2px solid rgba(105, 105, 105, 0.76);
}

.border-bottom {
  border-bottom: 2px solid rgba(105, 105, 105, 0.76);
}
tr {
  background-color: white;
}

.header-table {
  background-color: #ebebeb;
  font-weight: bold;
}
