.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}
.section-item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: medium;
  .section-item-title {
    display: flex;
    font-weight: bold;
  }

  .section-item-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .item {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .main {
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
  }
}
table {
  width: 100%;
  // color: #686868;
  th {
    background-color: #ebebeb;
  }
  td {
    background-color: white;
  }

  .important {
    background-color: #cccccc;
    color: white;
  }
}

.recaudaciones {
  overflow-x: auto;
  scrollbar-width: none;
}
.recaudaciones-title {
  padding-left: 10px;
  margin-top: 10px;
  font-weight: bold;
  color: #686868;
}

.maps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  padding-top: 15px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
  padding-top: 15px;
}

.left {
  grid-row: 1 / span 2;
}

.right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.right ion-card {
  height: calc(100% - 10px);
}
