<!-- @if(ventas){ -->

<apx-chart
  [series]="chartOptions.series!"
  [chart]="chartOptions.chart!"
  [title]="chartOptions.title!"
  [xaxis]="chartOptions.xaxis!"
  [yaxis]="chartOptions.yaxis!"
  [labels]="chartOptions.labels"
  [dataLabels]="chartOptions.dataLabels"
  [tooltip]="chartOptions.tooltip!"
  [colors]="[
    '#5eac22',
    '#7ec72f',
    '#a3d645',
    '#c9e86e',
    '#e5f199',
    '#f6f7d1',
    '#f9d06c',
    '#f3a42d',
    '#e66f0e',
    '#d94a0a',
    '#c62e1f',
    '#b62f4a',
    '#a14275',
    '#7b4b99',
    '#5754bd',
    '#3a63e6',
    '#2f7fee',
    '#38a6ff',
    '#62c6ff',
    '#8adeff'
  ]"
>
</apx-chart>
<!-- } -->
